body{
	box-sizing: border-box;
}
.display-none{
	display: none;
}
/* START CHAT CODE*/
.message-box-cont {
    background: #fff;
    padding-top: 12px;
    border-radius: 12px;
    /*max-width: 240px;*/
}
.message-box-cont.me{
    padding-right:12px;
    float: right;
}
.message-box-cont.guest{
    padding-right:12px;
    float: left;
}
.message-box-cont div{
	float: none;
}

#reply-message-box{
	width: 98%;
	padding: 12px;
	border-radius: 3px
}

/* END CHAT CODE*/